@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "vistara";
		src: url("../src/public/fonts/Vistarasans-Regular.ttf")
			format("truetype");
	}

	@font-face {
		font-family: "vistara-light";
		src: url("../src/public/fonts/Vistarasans-Light.ttf") format("truetype");
	}

	@font-face {
		font-family: "luxiachy";
		src: url("../src/public/fonts/luxiachy.ttf") format("truetype");
	}

	html {
		@apply font-['vistara'] scroll-smooth text-[#1e1e1e];
	}
}

@layer components {
	.button-outline {
		@apply border border-[#1e1e1e] rounded-3xl;
	}

	.hero-button {
		@apply border border-[#1e1e1e] rounded-3xl px-5 py-[10px];
	}

	.product-card {
		@apply flex flex-col basis-[calc(25%-0.75rem)];
	}

	.popular-card {
		@apply relative basis-[calc(25%-0.75rem)] bg-no-repeat bg-cover min-h-[420px];
	}

    .overlay-text {
        @apply uppercase absolute bottom-10 text-white text-2xl w-full text-center;
    }

    .footer-link a {
        @apply font-['vistara-light'] text-base;
    }
}

@layer utilities {
	.text-red {
		color: #882437;
	}

	.text-heading {
		@apply font-['luxiachy'];
	}

	.overlay {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 64.06%,
			rgba(0, 0, 0, 0.4) 72.92%,
			rgba(0, 0, 0, 0.9) 100%
		);
	}
}
